/* $hagrid-green: #54bb5a; */
$hagrid-light: rgb(129, 210, 140);
$hagrid-green: $hagrid-light;
$tv-button: $hagrid-light;
$yellow: #d9d283;
$tv-button-active: $yellow;

$light-stroke: white;
$dark-stroke: black;

/* $hagrid-light: rgb(121, 208, 132); */